body {
  background-color: rgb(255, 204, 141);
  /*background-image: linear-gradient(rgba(255, 204, 141), white);*/
}


button {
  background-color: aqua;
  text-decoration: none;
  color: black;
  width: 80%;
}

#right {
  text-align: right;
}

#runImg {
  width: 100%;
}

#id1 {
  position: relative;
  top: 10vh;
  /*background-color: transparent;*/
}